@model Gym14.Models.GymClass

@{
    ViewData["Title"] = "Create";
    bool passout = false;
}

<h2>Add new gym pass</h2>

<hr />
<div class="row">
    <div class="col-md-@Auxx.Cwidth">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />&nbsp;
                <button type="button" class="btn btn-primary"><a class="link-primary text-white text-decoration-none" asp-action="Memindex">Edit Member</a></button>&nbsp;
                <button type="button" class="aabutt"><a class="alink" asp-action="Historyindex">@Auxx.History</a></button>&nbsp;
                <button type="button" class="aabutt"><a class="alink" asp-action="Index">Back to topical</a></button>
            </div>
        </form>
    </div>
</div><br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Auxx.Gymlist)
        {
            if (item.EndTime < DateTime.Now) passout = true;
            <tr>
                <td>
                    @if (passout)
                    {
                        <b style="color: lightgray">@Html.DisplayFor(modelItem => item.Name)</b>
                    }
                    else
                    {
                        <b>@Html.DisplayFor(modelItem => item.Name)</b>
                    }
                </td>
                <td>
                    @if (passout)
                    {
                        <span style="color: gray">@Html.DisplayFor(modelItem => item.Start_Time)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Start_Time)
                    }
                </td>
                <td>
                    @if (passout)
                    {
                        <span style="color: lightgray">@Html.DisplayFor(modelItem => item.DurString)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DurString)
                    }
                </td>
                <td>
                    @if (passout)
                    {
                        <span style="color: lightgray">@Html.DisplayFor(modelItem => item.End_Time)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.End_Time)
                    }
                </td>
                <td>
                    @if (passout)
                    {
                        <span style="color: lightgray">@Html.DisplayFor(modelItem => item.Description)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Description)
                    }
                </td>
                <td style="border: none">
                    <button type="button" class="abutt"><a class="alink" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                    <button type="button" class="abutt"><a class="alink" asp-action="Details" asp-route-id="@item.Id">Info</a></button>
                    <button type="button" class="abutt"><a class="alink" asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
                </td>
            </tr>
            passout = false;
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
