@using Microsoft.AspNetCore.Identity

@model IEnumerable<Gym14.Models.ApplicationUser>

@{
    ViewData["Title"] = "Memindex";
}

<h2>All members</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Booking members
            </th>
            <th>
                Status
            </th>
            <th>
                E-mail
            </th>
            <th>
                Phone number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Rtype == 'A')
                    {
                        <span style="color:darkred">@Html.DisplayFor(modelItem => item.FullName)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FullName)
                    }
                </td>
                <td>
                    @if (item.Rtype == 'A')
                    {
                        <span style="color:darkred">@Html.DisplayFor(modelItem => item.Rtype)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Rtype)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                @if (item.Rtype == 'U')
                {
                    <button type="button" class="abutt"><a class="rlink" asp-action="Memreg" title="To member!" asp-route-id="@item.Id">Not Registered</a></button>
                    <button type="button" class="abutt"><a class="rlink" asp-action="Admreg" title="To administrator!" asp-route-id="@item.Id">A</a></button>
                }
                @if (item.Rtype == 'A')
                {
                    <button type="button" class="abutt"><a class="alink" asp-action="Memdelete" asp-route-id="@item.Id">Delete admin</a></button>
                }
                else
                {
                    <button type="button" class="abutt"><a class="alink" asp-action="Memdelete" asp-route-id="@item.Id">Delete member</a></button>
                }    
                </td>
            </tr>
        }
    </tbody>
</table>
Important!<br />
In AspNetRoles: "Administrators" (ADMINISTRATORS), "Members" (MEMBERS).
<div>
    <button type="button" class="aabutt"><a class="alink" asp-action="Create">Back to List</a></button>
</div>